 .fenster{
    background-color: rgb(162, 224, 240);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 500px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.fenster .title{
    font-size: larger;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 25px;
}

.newcar-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.fenster .inputField{
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    height: 30px;
}

.fenster .button{
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    width: 360px;
    height: 35px;
    background-color: rgb(23, 53, 92);
}

.fenster .label{
    align-self: flex-start;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}