.field{
    margin: 50px !important;
    background-color: rgb(183, 195, 226);
    color: rgb(71, 66, 66);
}

.paper{
    width: 50px;
    
}

.Logo{
    width: 100px;
}

.navbar{
    margin-bottom: 300px;
    width: 100vw;
}

.papersearch{
    width: 100vw;
}